body {
	font-size: 76%;
	font-family: "Helvetica", "Arial", sans-serif;
}
body * {
	font-size: 1em;
}
a {
	font-weight: bold;
	text-decoration: none;
}
header nav {
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}
header nav a {
	font-weight: bold;
	text-decoration: none;
}
article {
	line-height: 1em;
}
article p {
	margin: 1em 0;
}
h1 {
	font-family: "Georgia", "Times New Roman", sans-serif;
	font: 2.4em normal;
}
h2 {
	font-family: "Georgia", "Times New Roman", sans-serif;
	font: 1.8em normal;
	margin-top: 1em;
}
h3 {
	font-family: "Georgia", "Times New Roman", sans-serif;
	font: 1.4em normal;
	margin-top: 1em;
}
textarea {
	font-family: "Helvetica", "Arial", sans-serif;
}

/*photos图片库开始*/
#description {
	font-size: 1.8em;
}
/*photos图片库结束*/

/*table表格开始*/
table {
	text-align: center;
}
/*table表格结束*/

/*contact表单开始*/
form label {
	font-size: 1.2em;
}
/*contact表单结束*/