@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 		/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;		/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;		/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {				
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*导航栏start*/
.side-nav {
	background-color: #F1F1F1;
	height: 30px;
	line-height: 30px;
}

.side-nav-l {
	padding: 0 10px;
}

.side-nav-l s,
.side-nav-r s {
	display: inline-block;
	width: 15px;
	height: 7px;
	position: relative;
	overflow: hidden;
}

.side-nav-l i,
.side-nav-r i {
	position: absolute;
	top: -15px;
}

.side-nav-l:hover i,
.side-nav-r:hover i {
	position: absolute;
	top: -7px;
}

.side-nav-l:hover {
	background-color: #FFFFFF;
}

.side-nav-r li {
	float: left;
}

.site-nav-r-line {
	width: 1px;
	height: 15px;
	background-color: #DDDDDD;
	margin: 7px 10px 0;
}

.site-nav-r-tel {
	padding-left: 25px;
	position: relative;
}

.side-nav-r .tel {
	width: 15px;
	height: 20px;
	background: url(../images/tel.png) no-repeat;
	position: absolute;
	top: 5px;
	left: 0px;
}

/*导航栏end*/


/*广告start*/
.banner {
    background-color: #8B25C6;
}

.banner-ad {
    position: relative;
}

.banner-ad-close {
    width: 19px;
    height: 19px;
    background: url(../images/close.png);
    position: absolute;
    top: 0;
    right: 0;
}

.banner-ad-close:hover {
    background-position: bottom;
}
/*广告end*/

/*搜索栏start*/
.search-logo {
    padding: 20px 0;
    width: 362px;
    float: left;
    position: relative;
}

.search-logo a {
    display: inline-block;
    width: 270px;
    height: 60px;
    background: url(../images/logo.png);
}

.search-logo img {
    position: absolute;
    top: 0px;
    right: 15px;
}

.search-input {
    width: 539px;
    height: 100px;
    float: left;
}

.search-car {
    width: 139px;
    height: 34px;
    margin: 25px 65px 0 0;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
    background: url(../images/tel.png) no-repeat 10px -49px;
    float: right;
}

.search-car a {
    display: inline-block;
    padding: 9px 17px 7px 43px;
}

.search-input-search {
    width: 538px;
    height: 36px;
    margin: 25px 0 8px 0;
    background-color: #B61D1D;
}

.search-input-search input {
    width: 454px;
    height: 32px;
    margin: 2px;
    padding-left: 3px;
}

.link a {
    display: inline-block;
    padding-right: 11px;
    float: left;
}

.search-input-search a {
    display: inline-block;
    padding: 8px 24px;
    color: #FFFFFF;
}

/*搜索栏end*/

/*商品分类部分start*/
.classify {
    height: 44px;
    border-bottom: 2px solid #C81623;
}

.classify-l {
    width: 210px;
    height: 512px;
    background-color: #C81623;
    color: #FFFFFF;
    float: left;
}

.classify-l h1 {
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    padding-left: 10px;
}

.classify-l a {
    display: inline-block;
    color: #FFFFFF;
    width: 187px;
    line-height: 31px;
    padding-left: 10px;
    position: relative;
}

.classify-l i {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}

.classify-c {
    float: left;
}

.classify .classify-c li {
    float: left;
    position: relative;
}

.classify .classify-c a {
    font-size: 14px;
    line-height: 44px;
    margin: 0 20px;
}

.classify-c img {
    position: absolute;
    top: 0px;
    right: -8px;
}

.classify-r {
    font-size: 18px;
    line-height: 44px;
    margin-right:10px;
    float: right;
}

/*商品分类部分end*/

/*巨幅广告部分start*/
.big {
    padding: 12px 12px 0;
}

.big a {

}

/*巨幅广告部分end*/

/*信息部分start*/
.information {
    color: #666666;
    width: 254px;
    height: 545px;
    float: right;
}

.information h1 {
    font-size: 16px;
    border-bottom: 1px dotted #E4E4E4;
    padding: 15px;
}

.information-top {
    width: 251px;
    height: 200px;
    border: 1px solid #E4E4E4;
    border-bottom: 1px dashed #E4E4E4;
}

.information-top .more {
    font-size: 14px;
    float: right;
}

.information-top ul {
    padding:10px 0 0 15px;
}

.information-top li a {
    display: inline-block;
    line-height: 27px;
}

.information-bottom {
    width: 252px;
    height: 252px;
    border-left: 1px solid #E4E4E4;
}

.information-bottom h1 {
    border-right: 1px solid #E4E4E4;    
}

.service {
    width: 62px;
    height: 67px;
    border-right: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    float: left;
    position: relative;
}

.service a {
    display: block;
    text-align: center;
    height: 20px;
    margin: 0 auto;
    padding-top: 47px;
}

.information-bottom i {
    width: 25px;
    height: 25px;
    background: url(../images/fly.png) no-repeat;
    position: absolute;
    top: 16px;
    left: 18px;
}

.information-bottom .service2 {
    background-position: 0px -25px;
}

.information-bottom .service3 {
    background-position: 0px -50px;
}

.information-bottom .service4 {
    background-position: 0px -75px;
}

.information-bottom .service5 {
    background-position: 0px -100px;
}

.information-bottom .service6 {
    background-position: 0px -125px;
}

.information-bottom .service7 {
    background-position: 0px -150px;
}

.information-bottom .service8 {
    background-position: 0px -175px;
}

.information-bottom .service9 {
    background-position: 0px -200px;
}

.information-bottom .service10 {
    background-position: 0px -225px;
}

.information-bottom .service11 {
    background-position: 0px -250px;
}

.information-bottom .service12 {
    background-position: 0px -275px;
}

.information-bottom .service2 {
    background-position: 0px -25px;
}

.information-bottom .service2 {
    background-position: 0px -25px;
}

/*信息部分end*/
