<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Query the job</title>
	<!-- 视口设置 -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<!-- 引入bootstrap的css文件 -->
	<link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.css">
    <!-- 引入jquery的js文件 -->
    <script type="text/javascript" src="files/jquery.js"></script>
    <link rel="stylesheet" href="css/leftmenu.css" media="screen" type="text/css">
	<script src="js/leftmenu.js"></script>
	<script type="text/javascript" src="js/layer/layer.js"></script>
</head>
<body ng-controller="jobController">
		
<!-- 引入开始 -->
	<!-- 左侧菜单 -->
	<link rel="stylesheet" type="text/css" href="files/styles.css">
	
	<!-- 左侧菜单-->
	<script type="text/javascript" src="files/jquery.easing.1.3.js"></script>

    <!-- 左侧浮动菜单 -->
    <div id="page">
        <div id="container" class="content clearfix">
            <div id="fl_menu" style="top: 50px;">
                <div style="display:none;" class="menulabel">MENU</div>
                <div class="menu">
                    <a style="display:none;" href="index.html" class="menu_item">主页</a>
                    <a style="display:none;" href="QueryEmp.html" class="menu_item">系统管理</a>
                    <a style="display:none;" href="QueryCard.html" class="menu_item">名片管理</a>
                    <a style="display:none;" href="QueryInventory.html" class="menu_item">库存管理</a>
                    <a style="display:none;" href="QueryCar.html" class="menu_item">车辆管理</a>
                    <a style="display:none;" href="QueryDised.html" class="menu_item">派车管理</a>
                    <a style="display:none;" href="ViewNotice.html" class="menu_item">系统公告</a>
                    <a style="display:none;" href="QueryExpatriate.html" class="menu_item">外派人才</a>
                    <a style="display:none;" href="QueryCooperateCompany.html" class="menu_item">合作公司</a>
                </div>
            </div>
            <script type="text/javascript" src="files/menu.js"></script>
        </div>
    </div>


	<!-- 网页头部开始 -->
	<div ng-include="'header.html'"></div><!-- 要基于服务器运行 -->
	<!-- 网页头部结束 -->
<!-- 引入结束 -->
	
	<div class="container">
    	<ol class="breadcrumb">
        	<li><a href="#">OA系统</a></li>
            <li><a href="#">系统管理</a></li>
            <li class="active">查询职务</li>
        </ol>
	</div>
	
	
	<div class="row">	
		<!-- 左侧区域开始 -->
		<div class="col-md-4" style="margin-top:100px;">
		  <div class="clcontainer">
			  <ul>
			     <li class="cldropdown">
			     	<a href="QueryDept.html" data-toggle="cldropdown">所有部门</a>
			     </li>
			   
			     <li class="cldropdown">
			     	<a href="QueryJob.html" data-toggle="cldropdown">所有职务</a>
			     </li>
			   
			     <li class="cldropdown">
			     <a href="QueryEmp.html" data-toggle="cldropdown">所有员工</a>
			     </li>
			    
			     <li class="cldropdown">
			     <a href="AddDept.html" data-toggle="cldropdown">新增部门</a>
			     </li>
			    
			     <li class="cldropdown">
			     <a href="AddJob.html" data-toggle="cldropdown">新增职务</a>
			     </li>
			    
			     <li class="cldropdown">
			     <a href="AddJob.html" data-toggle="cldropdown">新增职务</a>
			     </li>
			    
			  </ul>
			</div>
		</div>
		<!-- 左侧区域结束 -->
		
			<!-- 右侧区域开始 -->
			<div class="col-md-8">				
				<!-- 数据表开始 -->
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>职务编号</th>
							<th>职务名称</th>
							<th>职务描述</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<!-- 遍历数据 -->
						<tr ng-repeat="item in data">
							<td>{{item.jobId}}</td>
							<td>{{item.jobName}}</td>
							<td>{{item.jobDesc}}</td>
							<td>
							
								<a href="UpdateJob.html?jobId={{item.jobId}}" class="btn btn-success btn-sm">修改</a>	
								<input type="button" value="删除" class="btn btn-danger btn-sm" ng-click="del(item.jobId);">						
							</td>
						</tr>						
					</tbody>
				</table>
				<!-- 数据表结束 -->
				<a href="AddJob.html" class="btn btn-primary btn-block">增加新职务</a>				
			</div>
			<!-- 右侧区域结束 -->
		</div>
	</div>

	<!-- 网页底部开始 -->
	<div ng-include="'footer.html'"></div><!-- 要基于服务器运行 -->
	<!-- 网页底部结束 -->
	
	<!-- 引入jquery的js文件 -->
	<script type="text/javascript" src="js/bootstrap/js/jquery.js"></script>
	<!-- 引入bootstrap的js文件 -->
	<script type="text/javascript" src="js/bootstrap/js/bootstrap.js"></script>	
	<!-- 引入angularjs的js文件 -->
	<script type="text/javascript" src="js/angularjs/angular.js"></script>
	<!-- 引入全局配置js -->
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript">

		// 创建模块
		var myApp = angular.module('myApp',[]);

		// 创建控制器
		myApp.controller('jobController',function($scope,$http){

			// 请求地址
			var url = URL + '/QueryJobServlet';

			// 访问后台数据接口			
			var promise = $http.get(url);

			// 请求成功处理
			promise.success(function(data){
				// 在作用域中存储数据
				$scope.data = data;
				console.log(data);
			});	

			// 请求失败处理
			promise.error(function(){
				alert('请求失败');
			});

			// 删除数据功能
			$scope.del = function(jobId) {

				// 删除确认
				var flag = confirm("你确定要删除此职务吗？");

				if (!flag) {
					return;
				}

				// 请求地址
				var url = URL + '/DelJobServlet';
				
				// 访问后台数据接口			
				var promise = $http.get(url,{
					params:{
						jobId:jobId
					}
				});

				// 请求成功处理
				promise.success(function() {
					alert('删除成功！');
					location.reload();	//刷新当前网页				
				});	

				// 请求失败处理
				promise.error(function(){
					alert('请求失败');
				});

			}


		});

	</script>
</body>
</html>